<ion-item class="header">
  <ion-menu-button slot="start"></ion-menu-button>
  <ion-label>
    <h1><b>Perfil</b></h1>
  </ion-label>
  <img src="../assets/imagens/logo.png" class="img-header">
</ion-item>

<ion-content>

  <ion-card class="card">

    <ion-grid>
      <ion-row>
        <ion-col>
          <h1 class="tituloCard">Meu plano!</h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p class="pCard">Não há plano ativo.</p>
          <p class="pCard">Adquira um agora mesmo!</p>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>

</ion-content>
