<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Compare Planos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

    <ion-row>
      <ion-col>
        <p>Compare seus planos antes de aderir!</p>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-card>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>
              <p class="pCard">Prev Vitalício</p>
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>
              <p class="pCard">Life +</p>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>
              <p class="pCard">Valor</p>
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>
              <p class="pCard">Valor</p>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>
              <p>R$35,00</p>
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>
              <p>R$45,00</p>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>
              <p class="pCard">Associação</p>
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>
              <p class="pCard">Associação</p>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>
              <p>OAB Prev</p>
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>
              <p>Serviço Previdência</p>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>
              <p class="pCard">Benefícios</p>
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>
              <p class="pCard">Benefícios</p>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>
              <p>Auxílio Emergencial</p>
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>
              <p>Assistência Médica</p>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>
              <ion-button expand="block" (click)="presentAlert()">Aderir</ion-button>
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>
              <ion-button expand="block" (click)="presentAlert()">Aderir</ion-button>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

    </ion-grid>
    
  </ion-card>

</ion-content>
