<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Portabilidade</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides pager="true" class="slide">

    <ion-slide>
      <ion-icon name="bar-chart-outline" class="icon-slide" color="primary"></ion-icon>

      <ion-grid>
        <ion-row>
          <ion-col>
            <h3>O processo de portabilidade consiste em alterar seu plano atual de previdência para outra instituição.</h3>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h3>Para que possa realizar o processo de portabilidade, sugerimos que tenha definido para qual plano irá migrar.</h3>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-slide>

    <ion-slide>
      <ion-icon name="chatbubbles-outline" class="icon-slide" color="primary"></ion-icon>
      
      <ion-grid>
        <ion-row>
          <ion-col>
            <h3>Para que possa definir um novo plano, use nosso simulador!</h3>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h3>Insira seus dados que direcionaremos os melhores planos que se enquadram em seu perfil. Após aderir, um consultor irá lhe contatar para confirmar seus dados.</h3>
          </ion-col>
        </ion-row>
      </ion-grid>
    
    </ion-slide>

    <ion-slide>
      <ion-icon name="card-outline" class="icon-slide" color="primary"></ion-icon>
      
      <ion-grid>
        <ion-row>
          <ion-col>
            <h3>Dúvidas?</h3>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h3>Acesse nossa FAQ!</h3>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button fill="outline" routerLink="/faq">FAQ</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-slide>

  </ion-slides>

</ion-content>
