<ion-content padding>

  <img src="assets/imagens/logo.png" class="img-login">

  <ion-item>
    <ion-icon name="mail-outline" slot="start" color="primary"></ion-icon>
    <ion-label position="floating">E-mail</ion-label>
    <ion-input type="email" autofocus="true"></ion-input>
  </ion-item>

  <ion-item>
    <ion-icon name="key-outline" slot="start" color="primary"></ion-icon>
    <ion-label position="floating">Senha</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>

  <ion-button expand="block" routerLink="/tabs">Entrar</ion-button>
  <ion-button fill="outline" expand="block" routerLink="/criarconta">Criar conta</ion-button>

</ion-content>