<ion-item class="header">
  <ion-menu-button slot="start"></ion-menu-button>
  <ion-label>
    <h1><b>Simulador</b></h1>
  </ion-label>
  <img src="../assets/imagens/logo.png" class="img-header">
</ion-item>

<ion-content>

  <ion-grid>

    <ion-row>
      <ion-col>
        <h1>Para iniciar, realize uma simulação e lhe indicaremos os melhores planos!</h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-icon name="person-outline" slot="start" color="primary"></ion-icon>
          <ion-label position="floating">Qual sua idade?</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-icon name="person-outline" slot="start" color="primary"></ion-icon>
          <ion-label position="floating">Qual sua renda mensal (R$)?</ion-label>
          <ion-input type="number" autofocus="true"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-icon name="man-outline" slot="start" color="primary"></ion-icon>
          <ion-label position="floating">RG</ion-label>
          <ion-input type="number" autofocus="true"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-item>
          <ion-icon name="search-circle-outline" slot="start" color="primary"></ion-icon>
          <ion-label position="floating">CPF</ion-label>
          <ion-input type="number" autofocus="true"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-icon name="person-outline" slot="start" color="primary"></ion-icon>
          <ion-label position="floating">Quanto poderá investir mensalmente (R$)?</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-button expand="block" routerLink="/planosindicados">Simular</ion-button>

</ion-content>
